@font-face {
    font-family: 'Noto Sans JP Embedded';
    src: url('../fonts/NotoSansJP.woff2') format('woff2');
}

/* Custom Styles */
body {
    transition: background-color 0.3s ease;
}

h1#char-display {
    font-family: 'Noto Sans JP Embedded', sans-serif;
    font-size: 8rem; /* Large font for desktop */
}

input, textarea, .form-control {
    font-family: 'Noto Sans JP Embedded', sans-serif !important;
}

.form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.form-check-input:focus {
    border-color: var(--bs-secondary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), .25);
}

#example-word-area .spinner-grow,
#dictionary-loading-status .spinner-grow {
    width: 0.75rem;
    height: 0.75rem;
}

.theme-icon {
    height: 1.5rem;
    cursor: pointer;
    margin-left: 0.5rem; /* Adjust as needed */
    vertical-align: middle;
}